#cards {
    display: flex;
    justify-content: space-around; 
  }
  
  #card1 .card-img-top,
  #card2 .card-img-top,
  #card3 .card-img-top {
    max-width: 35%; 
    height: auto;    
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 32%;
  }

#card1 {
    background-color: #34692B;
}

#card2 {
    background-color: #34692B;
}
  
#card3 {
    background-color: #34692B;
}

#cardtitle {
    color: white;
    font-size: 50px;
    margin-bottom: 5%;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
}

#cardtext {
    color: white;
}
