.loginContainer {
    a {
        text-decoration: none;
    }
}

.bgimagecontainer {
        background-image: url(../../assets/Heroimage/pizza-hero-2.jpeg);
        height: 100vh;
        object-fit: cover;
}